<configuration>
  <packageSources>
    <clear />
    <add key="Signature-OpenSource-Stable" value="https://pkgs.dev.azure.com/Signature-OpenSource/_packaging/Stable/nuget/v3/index.json" />
    <add key="Signature-OpenSource-Latest" value="https://pkgs.dev.azure.com/Signature-OpenSource/_packaging/Latest/nuget/v3/index.json" />
    <add key="Signature-OpenSource-Preview" value="https://pkgs.dev.azure.com/Signature-OpenSource/_packaging/Preview/nuget/v3/index.json" />
    <add key="Signature-OpenSource-CI" value="https://pkgs.dev.azure.com/Signature-OpenSource/_packaging/CI/nuget/v3/index.json" />
  </packageSources>
</configuration>
