<configuration>
  <packageSources>
    <clear />
    <!--
      The Signature-OpenSource feed has nuget.org (and npmjs.com) as an upstream source.
      No need to add nuget.org.
      The feed views enable to filter packages, 4 views are available:
      - Default@CI: All packages, including CI builds. Risky.
      - Default@Preview: Packages in alpha, beta up to kappa. To be used during development.
      - Default@Latest: The one that should be used (this is the default view). Packages are stable plus the -prerelease and -rc packages.
      - Default@Stable: Only the stable packages, no -rc nor -prerelease. Should be used for stable solutions. 
    -->
    <add key="Signature-OpenSource" value="https://pkgs.dev.azure.com/Signature-OpenSource/_packaging/Default@CI/nuget/v3/index.json" />

    <!-- This will be removed as soon as the Azure feeds are up. -->
    <add key="Invenietis - Release" value="https://www.myget.org/F/invenietis-release/api/v3/index.json" />
    <add key="Invenietis - Preview" value="https://www.myget.org/F/invenietis-preview/api/v3/index.json" />
    <add key="Invenietis - CI" value="https://www.myget.org/F/invenietis-ci/api/v3/index.json" />
    
  </packageSources>

  <!-- This credentials gives read access to the Signature-OpenSource feed. It is public. -->
  <packageSourceCredentials>
    <Signature-OpenSource>
        <add key="Username" value="SignatureOpenSource" />
        <add key="ClearTextPassword" value="c56geu5acyhfgeiqhdl3t2xo5xumlztnjf736zdbogyxtaulydlq" />
    </Signature-OpenSource>
  </packageSourceCredentials>

</configuration>
